<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EJS Barclays Live</title>
  <link rel="stylesheet" href="/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <header>
    <h1>Now on the app store!</h1>
  </header>

  <nav id="main">
    <a class="logo" href="#0"><img src="/img/logo.svg" /></a>
    <ul id="nav-links"></ul>
  </nav>

  <div class="site-wrap">

    <div>
      <% for(var i=0; i<entries.length; i++) { %>
      <h2><%= entries[i].label %></h2>
      <h2><%= entries[i].header %></h2>
      <p><%= entries[i].content %></p>
      <% } %>
    </div>

  </div>

  <script src="/js/navitems.js"></script>
  <script src="/js/main.js"></script>

</body>
</html>
















